{% extends "base.html" %}

{% block title %}Stock Dashboard{% endblock %}

{% block header %}Stock Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3>Top Stocks</h3>
         <div class="scrollable-div">
            <div class="summary-box">
                <h4>📈 Today's Most Discussed Stocks</h4>
                <p id="stock-summary">{{ stock_summary }}</p>
            </div>
             <button class="telegram-button" onclick="sendTelegramMessage()">📢 Send Newsletter to Telegram</button>

            <button class="tweet-button" onclick="sendToTwitter()">🐦 Send Top Stock to Twitter</button>
        </div>
        <br>
        <div class="scrollable-div">
            <ul class="list-group">
                {% for stock in trending_stocks %}
                <li class="list-group-item">{{ stock }}</li>
                {% endfor %}
            </ul>
        </div>
        <br/>
    </div>

    <div class="col-md-8">
        <h2>Tweets</h2>
        <div class="scrollable-div">
            <ul class="list-group">
                {% for tweet in tweets %}
                <li class="list-group-item">
                    <strong>{{ tweet.username }}</strong>: {{ tweet.tweet }}
                </li>
                {% endfor %}
            </ul>
            </div>
    </div>
</div>

<script type="text/javascript">
    function sendToTwitter() {
        let summaryText = document.getElementById("stock-summary").innerText;
        let tweetUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(summaryText);
        window.open(tweetUrl, "_blank");
    }

     function sendTelegramMessage() {
               alert('called sendTelegramMessage')
             // Use fetch to POST the message to the Flask endpoint
            fetch("/send_message_telegram", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response:", data);
                alert("Message sent successfully!");
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Failed to send message.");
            });
        }
</script>
{% endblock %}


